body{
    display: flex;
    justify-content: center;
}

.container{
    bottom: 25%;
    position: absolute;
    align-items: center;
    text-align: center;
    border: solid gray 1px;
    border-radius: 15px;
    margin-top: 30%;
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
}

.header-section{
    width: 40ch;
}

.input-section{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-top: 20px;
}
input{
    padding-inline: 10px;
    font-size: 20px;
    height: 30px;
    margin-bottom: 30px;
}

h2{
    text-align: left;
    padding-left: 50px;
}

.signup-text{
    margin: 5px;
}

.alert{
    color: white;
    width: 400px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.59);
    border-radius: 10px;
}

button{
    width: 400px;
    height: 45px;
    margin-bottom: 10px;
    font-size: 20px;
}

.division-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px ;
    text-align: center;
}

.division{
    border-bottom: solid gray 1px;
    width: 160px;
    height: 10px;
}

.division-text{
    width: fit-content;
    height: fit-content;
    bottom: 2.8%;
    background-color: white;
}

.buttons-providers{
    margin-top: 20px;
}

.signin-button{
    margin-top: 30px;
    margin-bottom: 30px;
}

a{
    color: gray;
}

a:hover{
    color: black;
}