body{
    display: flex;
    justify-content: center;
}

.introduction{
    width: 40ch;
}

h2{
    text-align: left;
    padding-left: 50px;
}

.alert{
    color: white;
    width: 400px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.59);
    border-radius: 10px;
}

.container{
    bottom: 25%;
    position: absolute;
    align-items: center;
    text-align: center;
    border: solid gray 1px;
    border-radius: 15px;
    margin-top: 30%;
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 400px;
    margin-bottom: 20px;
}

input{
    padding-inline: 10px;
    font-size: 20px;
    height: 30px;
    margin: 10px;
}

button{
    width: 400px;
    height: 45px;
    margin-bottom: 10px;
    font-size: 20px;
}

a{
    color: gray;
}

a:hover{
    color: black;
}

.signin-text{
    margin-bottom: 30px;
}